@page
@model SaillingLoc.Pages.LegalModel
@{
    ViewData["Title"] = "Mentions Légales";
}

<div class="legal-page">
    <h2>Mentions Légales</h2>
    <p>Nom du site : SailingLoc</p>
    <p>Propriétaire : William NTHIEKAM</p>
    <p>Email : contact@sailingloc.fr</p>
    <p>Hébergeur : Microsoft Azure / OneDrive</p>
</div>
