@page
@model SaillingLoc.Pages.PrivacyPolicyModel
@{
    ViewData["Title"] = "Politiques de Confidentialité";
}

<div class="legal-page">
    <h2>Politiques de Confidentialité</h2>
    <p>Nous collectons vos données uniquement pour la gestion des réservations et l’amélioration du site :</p>
    <ul>
        <li>Nom, prénom et email pour vos réservations.</li>
        <li>Données de paiement sécurisées et temporaires.</li>
        <li>Vos informations ne seront jamais partagées à des tiers sans votre consentement.</li>
    </ul>
</div>
