@page
@model SaillingLoc.Pages.SitemapModel
@{
    ViewData["Title"] = "Plan du site";
}

<div class="legal-page">
    <h2>Plan du site</h2>
    <ul>
        <li><a asp-page="/Index">Accueil</a></li>
        <li><a asp-page="/About">À Propos</a></li>
        <li><a asp-page="/CGU">CGU</a></li>
        <li><a asp-page="/Legal">Mentions Légales</a></li>
        <li><a asp-page="/CookiePolicy">Politique des Cookies</a></li>
        <li><a asp-page="/PrivacyPolicy">Politiques de Confidentialité</a></li>
        <li><a asp-page="/Contacts">Contact</a></li>
    </ul>
</div>
